body {
	background: #222;
	color: #888;
}

.center {
	text-align: center;
	width: 100%;
}

#display {
	display: inline;
}

#modules div {
	display: inline-block;
	color: #111;
	font-size: 14pt;
	font-family: monospace;
	border-radius: 25%;
	padding: 20px;
}

.solved {
	background-color: green;
}

.needy {
	background-color: grey;
}

.unsolved {
	background-color: yellow;
}
